.app {
  text-align: center;
}

.aside {
  color: #bababa;
  font-size: 24;
}

.blurb {
  color: #404040;
  font-size: 24;
}

.box {
  background-color: #d0abff;
  color: #000000;
  font-size: 24;
  height: 400px;
  text-align: center;
  width: 400px;
}

.burger {
  height: 20px;
  width: 76px;
}

.footer {
  color: #555555;
  font-size: 14;
}

.title {
  color: #555555;
  font-size: 36;
}
